<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<link rel="stylesheet" th:href="@{/spring/resources/css/styles.css}" type="text/css" media="screen"/>
	<script th:src="@{/spring/resources/js/functions.js}" type="text/javascript"></script>
	<script th:src="@{/spring/resources/js/jquery-min-1.9.1.js}" type="text/javascript"></script>
</head>

<body>
	<div th:fragment="resultsList" th:unless="${#lists.isEmpty(guests)}" class="results-block">
		<table>
			<thead>
				<tr>
					<th th:text="#{results.guest.id}">Id</th>
					<th th:text="#{results.guest.surname}">Surname</th>
					<th th:text="#{results.guest.name}">Name</th>
					<th th:text="#{results.guest.country}">Country</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="guest : ${guests}">
					<td th:text="${guest.id}">id</td>
					<td th:text="${guest.surname}">surname</td>
					<td th:text="${guest.name}">name</td>
					<td th:text="${guest.country}">country</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>